.header {
    margin: auto;
    width: 800px;
    height: 200px;
    font-family: orbitron;
    background-color: pink;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px aquamarine;
    transition: width 0.15s ease-in-out;
}

.header:hover {
    background-color: plum;
    color: aqua;
    width: 850px;
    height: 250px;
}

.contactlist {
   position: relative;
   width: 800px;
   box-shadow: 0 0 10px; 
}

.contact__horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

.horizontal__1:hover {
    background-color: violet;
    color: white;
}

.horizontal__2:hover {
    background-color: lightblue;
    color: white;
}

.horizontal__3:hover {
    background-color:coral;
    color: white;
}

.horizontal__4:hover {
    background-color: palegreen;
    color: white;
}

.Education {
    font-family: orbitron;
    text-align: center;
}

.Experience {
    font-family: orbitron;
    text-align: center;
}
